.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  top: 92%;
}

input {
  @apply px-2;
}
select {
  @apply rounded-full my-4 mx-4;
}
option {
  @apply bg-gray-200;
}
@media (min-width: 1536px) {
  .h96 {
    height: 38rem /* 384px */;
  }
}
