<div class="fixed min-h-screen px-4 shadow-xl  font-bold w-60 2xl:w-72 leading-10 text-left text-lg bg-black text-white border-r border-gray-300">
    <div class="py-4 opacity-70">

        <h1 class="text-2xl py-6 font-bold teal font-serif border-b border-t  rounded-xl border-gray-700 mx-2 text-center opacity-60">EASYCANTINE</h1>
        <a routerLink="charts" routerLinkActive = "px-4 bgTeal"><i class="fas fa-home teal"></i>&nbsp;&nbsp; Acceuil</a>
        <a routerLink="articles" routerLinkActive = "px-4 bgTeal"><i class="fas fa-list teal"></i>&nbsp;&nbsp; Articles</a>
        <a routerLink="journee" routerLinkActive = "px-4 bgTeal"><i class="fas fa-cash-register teal"></i>&nbsp;&nbsp; Boutique</a>
        <a routerLink="transactions" routerLinkActive = "px-4 bgTeal"><i class="fas fa-money-check-alt teal"></i>&nbsp;&nbsp; Transactions</a>
        <a routerLink="clients" routerLinkActive = "px-4 bgTeal"><i class="fas fa-users teal"></i>&nbsp;&nbsp; Clients</a>
        <a routerLink="fournisseurs" routerLinkActive = "px-4 bgTeal"><i class="fas fa-user-friends teal"></i>&nbsp;&nbsp; Fournisseurs</a>
        <a routerLink="factures" routerLinkActive = "px-4 bgTeal"><i class="fas fa-clipboard-list teal"></i>&nbsp;&nbsp; Factures</a>
        <a routerLink="reglages" routerLinkActive = "px-4 bgTeal" class="border-t border-white py-4 w-48 2xl:w-60"><i class="fas fa-user-cog teal"></i>&nbsp;&nbsp; Profil</a>

</div>