button {
  @apply mx-4 border-none text-white px-3 py-2 text-center inline-block rounded-full font-bold text-sm;
}

option {
  @apply bg-gray-200;
}
.checkbox {
  color: #003341e8;
  border-color: #003341e8;
  box-shadow: none;
}
input {
  @apply border border-gray-300;
}
