<div class="container relative" >
    <h1 class="text-3xl font-bold text-gray-700 font-serif">TRANSACTIONS</h1>
    
    <form (ngSubmit) = 'onSubmitClient(f1)' #f1 = ngForm>
        <h1 class="my-4">Client : <select class="my-4 w-32 rounded-full border-gray-300" ngModel required name="client">
          <option>...</option>
          <option *ngFor = "let client of clients">{{client.Cantine | titlecase}}</option>
        </select>
        <button type="submit" class="text-blue-700 ml-4" [disabled] = "f1.invalid" >Selectionner</button>
      </h1>
    </form>
    <div  class="flex flex-col px-2 mt-6 ">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden sm:rounded-lg ">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-blue-900">
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    
                                </th>
                                
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Client
                                </th>
                                
                                
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Faite le
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200" *ngFor = 'let transaction of transactions'>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    {{transaction.id}} 
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <a [routerLink]="transaction.id" class="text-blue-800">{{transaction.Client | titlecase}}</a>
                                </td>
                                
                                
                                <td class="px-6 whitespace-nowrap">
                                    <span class="px-2 inline-flex text-md font-semibold rounded-full text-gray-600">
                                        <h1 class="mt-2">{{transaction.Add_Date}}</h1>
                                        <h1 class="mx-4 mt-2 text-blue-700 cursor-pointer" (click) = "onModify(transaction.id)">Modifier</h1>
                                        <h1 class="mx-4 mt-2 text-red-700 cursor-pointer" (click) = "onDelete(transaction.APC, transaction.id, transaction.Articles)">Supprimer</h1>
                                        <form *ngIf = "isModify[transaction.id]" class="flex" (ngSubmit) = "onSubmitDate(fDate, transaction.id)" #fDate = "ngForm">

                                            <input  type="date" name="date" class="border-gray-200 rounded-full" ngModel required>
                                            <button type="submit" class="text-green-500 mx-2" [disabled] = "fDate.invalid"><i class="fas fa-check"></i></button>
                                            
                                            
                                        </form>
                                     
                                        
                                    </span>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    <span class="px-2 inline-flex text-md leading-5 font-semibold rounded-full  text-green-800">
                                        <span class="print mx-8 cursor-pointer text-red-800"  (click) = "onCreer(transaction)" >Bon de livraison</span>
                                    </span>
                                </td>
                                
                                
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div  *ngIf = "isBl"  class="BL" >
    <div class="croix flex justify-between">
        <div (click) = "hideBl()"  class=" text-center w-6 h-8 text-xl top-2 left-2 text-white cursor-pointer z-20 inline-block bg-red-500"><i class="fas fa-times"></i></div>
        <button class="button w-32 " (click) = "onPrint()">Imprimer</button>
    </div>
    <div class=" grid grid-cols-2 gap-16 fontxs mx-8">
        <div class="text-center">
            <div class="  text-gray-800">
                <h1 class="font-bold text-md text-xs">{{utilisateur.Nom | titlecase}}</h1>
                <h1 class="font-bold">{{utilisateur.Activite | titlecase}}</h1>
                <h1>{{utilisateur.Adresse}}</h1>
                <span class = "font-bold">Bon de livraison N° :&nbsp;&nbsp;&nbsp;&nbsp; {{transac.id}}</span>&nbsp;
                <span class = "font-bold">Date :&nbsp;&nbsp;&nbsp;&nbsp; {{transac.Add_Date }}</span><br>
                <span class = "font-bold">Doit :&nbsp;&nbsp;&nbsp;&nbsp; {{transac.APC | titlecase}}</span>&nbsp;
                <!-- <span class = "font-bold">&nbsp;&nbsp;&nbsp;&nbsp; {{transac.Client | titlecase}}</span>&nbsp; -->
                <!-- <span class = "font-bold">&nbsp;&nbsp;&nbsp;&nbsp;{{trimestre | titlecase}}</span> -->
            </div>
            
            <div class="content text-center">
                <div class="border-b border-l border-t border-black ">N°</div>
                <div class="border-b border-l border-t border-black  ">Désignations</div>
                <div class="border-b border-l border-t border-black  ">Unité De Mesure</div>
                <div class="border-b border-l border-t border-black  ">TVA</div>
                <div class="border-b border-l border-t border-black  ">Quantités</div>
                <div class="border-b border-l border-t border-black ">Prix Unit HT</div>
                <div class="border border-black font-bold ">Montant H.T</div>
            </div>
            <div class="content text-center " *ngFor = 'let article of articleInBl; let i = index'>
                <div class="border-b  border-l border-black">{{i+1}}</div>
                <div class="border-b  border-l border-black">{{article.Nom | titlecase}}</div>
                <div class="border-b  border-l border-black">{{article.Ucomp | uppercase}}</div>
                <div class="border-b  border-l border-black">{{article.TVA}}%</div>
                <div class="border-b  border-l border-black">{{article.quantite | number : '1.2-2'}}</div>
                <div class="border-b  border-l border-black">{{article.Prix | number : '1.2-2'}}</div>
                <div class="border-b  border-l  border-r border-black">{{article.Prix*article.quantite | number : '1.2-2'}}</div>
                
            </div>
            <div class="fontxs grid grid-cols-5">
                <h1 class="border-r border-black text-center">Total hors Taxe : {{totalHorsTaxe | number : '1.2-2'}}</h1>
                <h1 class="border-r border-black text-center">TVA 9% : {{tva9 | number : '1.2-2'}}</h1>
                <h1 class="border-r border-black text-center">TVA 19% : {{tva19 | number : '1.2-2'}}</h1>
                <h1 class="border-r border-black text-center">Total TVA : {{tva9+tva19 | number : '1.2-2'}}</h1>
                <h1>Total TTC : {{totalHorsTaxe+tva9+tva19 | number : '1.2-2'}}</h1>
            </div>
            <div class="flex justify-between text-xs border-t border-black">
                <h1>Le Fournisseur</h1>
                <h1>Le Client</h1>
            </div>
        </div>
        
        <div class="text-center">
            <div class="  text-gray-800">
                <h1 class="font-bold text-md text-xs">{{utilisateur.Nom | titlecase}}</h1>
                <h1 class="font-bold">{{utilisateur.Activite | titlecase}}</h1>
                <h1>{{utilisateur.Adresse}}</h1>
                <span class = "font-bold">Bon de livraison N° :&nbsp;&nbsp;&nbsp;&nbsp; {{transac.id}}</span>&nbsp;
                <span class = "font-bold">Date :&nbsp;&nbsp;&nbsp;&nbsp; {{transac.Add_Date }}</span><br>
                <span class = "font-bold">Doit :&nbsp;&nbsp;&nbsp;&nbsp; {{transac.APC | titlecase}}</span>&nbsp;
                <!-- <span class = "font-bold">&nbsp;&nbsp;&nbsp;&nbsp; {{transac.Client | titlecase}}</span>&nbsp; -->
                <!-- <span class = "font-bold">&nbsp;&nbsp;&nbsp;&nbsp;{{trimestre | titlecase}}</span> -->
            </div>
            
            <div class="content text-center">
                <div class="border-b border-l border-t border-black ">N°</div>
                <div class="border-b border-l border-t border-black  ">Désignations</div>
                <div class="border-b border-l border-t border-black  ">Unité De Mesure</div>
                <div class="border-b border-l border-t border-black  ">TVA</div>
                <div class="border-b border-l border-t border-black  ">Quantités</div>
                <div class="border-b border-l border-t border-black ">Prix Unit HT</div>
                <div class="border border-black font-bold ">Montant H.T</div>
            </div>
            <div class="content text-center " *ngFor = 'let article of articleInBl; let i = index'>
                <div class="border-b  border-l border-black">{{i+1}}</div>
                <div class="border-b  border-l border-black">{{article.Nom | titlecase}}</div>
                <div class="border-b  border-l border-black">{{article.Ucomp | uppercase}}</div>
                <div class="border-b  border-l border-black">{{article.TVA}}%</div>
                <div class="border-b  border-l border-black">{{article.quantite | number : '1.2-2'}}</div>
                <div class="border-b  border-l border-black">{{article.Prix | number : '1.2-2'}}</div>
                <div class="border-b  border-l  border-r border-black">{{article.Prix*article.quantite | number : '1.2-2'}}</div>
                
            </div>
            <div class="fontxs grid grid-cols-5">
                <h1 class="border-r border-black text-center">Total hors Taxe : {{totalHorsTaxe | number : '1.2-2'}}</h1>
                <h1 class="border-r border-black text-center">TVA 9% : {{tva9 | number : '1.2-2'}}</h1>
                <h1 class="border-r border-black text-center">TVA 19% : {{tva19 | number : '1.2-2'}}</h1>
                <h1 class="border-r border-black text-center">Total TVA : {{tva9+tva19 | number : '1.2-2'}}</h1>
                <h1>Total TTC : {{totalHorsTaxe+tva9+tva19 | number : '1.2-2'}}</h1>
            </div>
            <div class="flex justify-between text-xs border-t border-black">
                <h1>Le Fournisseur</h1>
                <h1>Le Client</h1>
            </div>
        </div>
        
        
        
        
    </div>
</div>
